<!doctype html>
<html lang="en" class="no-js">
    <head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<!-- SEO -->
		<title></title>
		<meta name="description" content="">

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta property="og:title" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:description" content=""/>
		<meta property="og:image" content=""/> <!-- 1200x630px -->
		<meta property="og:type" content="website"/>

		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,600,700,800" />
		<link rel="stylesheet" type="text/css" href="assets/css/common.css">

		<!-- touchicons/favicon -->
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<meta name="apple-mobile-web-app-title" content="" />
		<link rel="apple-touch-icon" sizes="152x152" href="assets/images/icons/apple-touch-152x152-icon.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="assets/images/icons/apple-touch-144x144-icon.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="assets/images/icons/apple-touch-120x120-icon.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="assets/images/icons/apple-touch-114x114-icon.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="assets/images/icons/apple-touch-72x72-icon.png" />
		<link rel="apple-touch-icon" href="assets/images/icons/apple-touch-57x57-icon.png" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" sizes="32x32" href="assets/images/icons/favicon32.png" />

		<script src="assets/js/libs/modernizr.min.js"></script>
	</head>
